# PostgreSQL
POSTGRES_DB=zabbix
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=change_me_postgres

# Zabbix
ZBX_SERVER_NAME=lab-zabbix
ZBX_TIMEZONE=America/Sao_Paulo

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change_me_grafana

